# Ignore Play! working directory #
Frontend/bin/
Frontend/db
Frontend/.eclipse
Frontend/lib/
Frontend/logs/
Frontend/modules
Frontend/project/project/
Frontend/project/target/
Frontend/target/
Frontend/tmp/
Frontend/test-result
Frontend/server.pid
Frontend/*.eml
Frontend/dist/
Frontend/.cache

ebean-backend/bin/
ebean-backend/db
ebean-backend/.eclipse
ebean-backend/lib/
ebean-backend/logs/
ebean-backend/modules
ebean-backend/project/project/
ebean-backend/project/target/
ebean-backend/target/
ebean-backend/tmp/
ebean-backend/test-result
ebean-backend/server.pid
ebean-backend/*.eml
ebean-backend/dist/
ebean-backend/.cache
